@import url(https://fonts.googleapis.com/css?family=Roboto|Product+Sans);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css);
/*

    Legacy 3.3

    made by joexn
    @j0exn
    joexn.com

*/
html {
  font-size: 62.5%; }

body {
  font-size: 1.6em;
  line-height: 1.5;
  font-weight: 300;
  font-family: Roboto;
  color: #404A54;
  margin: 0;
  position: relative; }

.utility-full-width {
  width: 100%;
  box-sizing: border-box; }

.utility-max-full-width {
  max-width: 100%;
  box-sizing: border-box; }

.utility-right {
  float: right; }

.utility-left {
  float: left; }

.utility-space-2 {
  font-family: Product Sans;
  color: #E9E9E9;
  padding: 2rem 0;
  text-align: center; }

.utility-space-5 {
  font-family: Product Sans;
  color: #E9E9E9;
  padding: 5rem 0;
  text-align: center; }

.utility-space-10 {
  font-family: Product Sans;
  color: #E9E9E9;
  padding: 10rem 0;
  text-align: center; }

@media (max-width: 550px) {
  .utility-space-2 {
    color: #E9E9E9;
    padding: 1rem 0;
    text-align: center; }
  .utility-space-5 {
    color: #E9E9E9;
    padding: 2.5rem 0;
    text-align: center; }
  .utility-space-10 {
    color: #E9E9E9;
    padding: 5rem 0;
    text-align: center; } }

.container {
  position: relative;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box; }

.column, .columns {
  width: 100%;
  float: left;
  box-sizing: border-box; }

@media (min-width: 400px) {
  .container {
    width: 85%;
    padding: 0; } }

@media (min-width: 550px) {
  .container {
    width: 80%; }
  article {
    padding: 3rem 0; }
  .column, .columns {
    margin-left: 4%; }
  .column:first-child, .columns:first-child {
    margin-left: 0; }
  .one.column, .one.columns {
    width: 4.66667%; }
  .two.columns {
    width: 13.33333%; }
  .three.columns {
    width: 22%; }
  .four.columns {
    width: 30.66667%; }
  .five.columns {
    width: 39.33333%; }
  .six.columns {
    width: 48%; }
  .seven.columns {
    width: 56.66667%; }
  .eight.columns {
    width: 65.33333%; }
  .nine.columns {
    width: 74%; }
  .ten.columns {
    width: 82.66667%; }
  .eleven.columns {
    width: 91.33333%; }
  .twelve.columns {
    width: 100%;
    margin-left: 0; }
  .one-third.column {
    width: 30.66667%; }
  .two-thirds.column {
    width: 65.33333%; }
  .one-half.column {
    width: 48%; }
  .offset-by-one.column, .offset-by-one.columns {
    margin-left: 8.66667%; }
  .offset-by-two.column, .offset-by-two.columns {
    margin-left: 17.33333%; }
  .offset-by-three.column, .offset-by-three.columns {
    margin-left: 26%; }
  .offset-by-four.column, .offset-by-four.columns {
    margin-left: 34.66667%; }
  .offset-by-five.column, .offset-by-five.columns {
    margin-left: 43.33333%; }
  .offset-by-six.column, .offset-by-six.columns {
    margin-left: 52%; }
  .offset-by-seven.column, .offset-by-seven.columns {
    margin-left: 60.66667%; }
  .offset-by-eight.column, .offset-by-eight.columns {
    margin-left: 69.33333%; }
  .offset-by-nine.column, .offset-by-nine.columns {
    margin-left: 78%; }
  .offset-by-ten.column, .offset-by-ten.columns {
    margin-left: 86.66667%; }
  .offset-by-eleven.column, .offset-by-eleven.columns {
    margin-left: 95.33333%; }
  .offset-by-one-third.column, .offset-by-one-third.columns {
    margin-left: 34.66667%; }
  .offset-by-two-thirds.column, .offset-by-two-thirds.columns {
    margin-left: 69.33333%; }
  .offset-by-one-half.column, .offset-by-one-half.columns {
    margin-left: 52%; } }

h1, h2, h3, h4, h5, h6 {
  color: #404A54;
  margin-top: 0;
  margin-bottom: 2rem;
  font-weight: 300;
  font-family: Product Sans; }

h1 {
  font-size: 4rem;
  line-height: 1.2;
  letter-spacing: -.1rem; }

h2 {
  font-size: 3.6rem;
  line-height: 1.25;
  letter-spacing: -.1rem; }

h3 {
  font-size: 3rem;
  line-height: 1.3;
  letter-spacing: -.1rem; }

h4 {
  font-size: 2.4rem;
  line-height: 1.35;
  letter-spacing: -.08rem; }

h5 {
  font-size: 1.8rem;
  line-height: 1.5;
  letter-spacing: -.05rem; }

h6 {
  font-size: 1.5rem;
  line-height: 1.6;
  letter-spacing: 0; }

@media (min-width: 550px) {
  h1 {
    font-size: 5rem;
    font-weight: 300; }
  h2 {
    font-size: 4.2rem; }
  h3 {
    font-size: 3.6rem; }
  h4 {
    font-size: 3rem; }
  h5 {
    font-size: 2.4rem; }
  h6 {
    font-size: 1.5rem; } }

p {
  margin-top: 0; }

.text.primary {
  color: #33C3F0; }

.text.warning {
  color: #FC6E51; }

.text.success {
  color: #48CFAD; }

.text.alert {
  color: #ED5565; }

.text.secondary {
  color: #91B9C5; }

a {
  -o-transition: .5s;
  -ms-transition: .5s;
  -moz-transition: .5s;
  -webkit-transition: .5s;
  transition: .5s;
  color: #33C3F0;
  text-decoration: none; }
  a:hover {
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
    color: #10aee0; }

.btn, button {
  display: inline-block;
  -o-transition: .5s;
  -ms-transition: .5s;
  -moz-transition: .5s;
  -webkit-transition: .5s;
  transition: .5s;
  height: 38px;
  padding: 0 30px;
  color: #FFF;
  text-align: center;
  font-size: 11px;
  font-weight: 300;
  line-height: 38px;
  letter-spacing: .1rem;
  text-decoration: none;
  white-space: nowrap;
  background-color: #404A54;
  cursor: pointer;
  box-sizing: border-box;
  border: none;
  margin: 0 1rem 1rem 0;
  font-family: Product Sans; }

input[type="submit"], input[type="reset"], input[type="button"] {
  display: inline-block;
  -o-transition: .5s;
  -ms-transition: .5s;
  -moz-transition: .5s;
  -webkit-transition: .5s;
  transition: .5s;
  height: 38px;
  padding: 0 30px;
  color: #FFF;
  text-align: center;
  font-size: 11px;
  font-weight: 300;
  line-height: 38px;
  letter-spacing: .1rem;
  text-decoration: none;
  white-space: nowrap;
  background-color: #404A54;
  cursor: pointer;
  box-sizing: border-box;
  border: none;
  margin: 0 1rem 1rem 0;
  font-family: Product Sans; }

.btn:hover, button:hover {
  color: #FFF;
  border-color: #2a3037;
  outline: 0;
  background-color: #2a3037; }

input[type="submit"]:hover, input[type="reset"]:hover, input[type="button"]:hover {
  color: #FFF;
  border-color: #2a3037;
  outline: 0;
  background-color: #2a3037; }

.btn:focus, button:focus {
  color: #FFF;
  border-color: #2a3037;
  outline: 0;
  background-color: #2a3037; }

input[type="submit"]:focus, input[type="reset"]:focus, input[type="button"]:focus {
  color: #FFF;
  border-color: #2a3037;
  outline: 0;
  background-color: #2a3037; }

.btn.btn-primary, button.btn-primary.btn-primary {
  color: #FFF;
  background-color: #33C3F0;
  border-color: #33C3F0;
  border: 0; }

input[type="submit"].btn-primary, input[type="reset"].btn-primary, input[type="button"].btn-primary {
  color: #FFF;
  background-color: #33C3F0;
  border-color: #33C3F0;
  border: 0; }

.btn.btn-primary:hover, button.btn-primary:hover.btn-primary:hover {
  color: #FFF;
  background-color: #10aee0;
  border-color: #10aee0; }

input[type="submit"].btn-primary:hover, input[type="reset"].btn-primary:hover, input[type="button"].btn-primary:hover {
  color: #FFF;
  background-color: #10aee0;
  border-color: #10aee0; }

.btn.btn-primary:focus, button.btn-primary:focus {
  color: #FFF;
  background-color: #10aee0;
  border-color: #10aee0; }

input[type="submit"].btn-primary:focus, input[type="reset"].btn-primary:focus, input[type="button"].btn-primary:focus {
  color: #FFF;
  background-color: #10aee0;
  border-color: #10aee0; }

.btn.btn-alert, button.btn-alert.btn-alert {
  color: #FFF;
  background-color: #ED5565;
  border-color: #ED5565; }

input[type="submit"].btn-alert, input[type="reset"].btn-alert, input[type="button"].btn-alert {
  color: #FFF;
  background-color: #ED5565;
  border-color: #ED5565; }

.btn.btn-alert:hover.btn-alert:hover, button.btn-alert:hover {
  color: #FFF;
  background-color: #e8273b;
  border-color: #e8273b; }

input[type="submit"].btn-alert:hover, input[type="reset"].btn-alert:hover, input[type="button"].btn-alert:hover {
  color: #FFF;
  background-color: #e8273b;
  border-color: #e8273b; }

.btn.btn-alert:focus, button.btn-alert:focus {
  color: #FFF;
  background-color: #e8273b;
  border-color: #e8273b; }

input[type="submit"].btn-alert:focus, input[type="reset"].btn-alert:focus, input[type="button"].btn-alert:focus {
  color: #FFF;
  background-color: #e8273b;
  border-color: #e8273b; }

.btn.btn-success.btn-success, button.btn-success {
  color: #FFF;
  background-color: #48CFAD;
  border-color: #48CFAD; }

input[type="submit"].btn-success, input[type="reset"].btn-success, input[type="button"].btn-success {
  color: #FFF;
  background-color: #48CFAD;
  border-color: #48CFAD; }

.btn.btn-success:hover.btn-success:hover, button.btn-success:hover {
  color: #FFF;
  background-color: #2fb593;
  border-color: #2fb593; }

input[type="submit"].btn-success:hover, input[type="reset"].btn-success:hover, input[type="button"].btn-success:hover {
  color: #FFF;
  background-color: #2fb593;
  border-color: #2fb593; }

.btn.btn-success:focus, button.btn-success:focus {
  color: #FFF;
  background-color: #2fb593;
  border-color: #2fb593; }

input[type="submit"].btn-success:focus, input[type="reset"].btn-success:focus, input[type="button"].btn-success:focus {
  color: #FFF;
  background-color: #2fb593;
  border-color: #2fb593; }

.btn.btn-warning.btn-warning.btn-warning, button.btn-warning {
  color: #FFF;
  background-color: #FC6E51;
  border-color: #FC6E51; }

input[type="submit"].btn-warning, input[type="reset"].btn-warning, input[type="button"].btn-warning {
  color: #FFF;
  background-color: #FC6E51;
  border-color: #FC6E51; }

.btn.btn-warning:hover.btn-warning:hover, button.btn-warning:hover {
  color: #FFF;
  background-color: #fb441f;
  border-color: #fb441f; }

input[type="submit"].btn-warning:hover, input[type="reset"].btn-warning:hover, input[type="button"].btn-warning:hover {
  color: #FFF;
  background-color: #fb441f;
  border-color: #fb441f; }

.btn.btn-warning:focus, button.btn-warning:focus {
  color: #FFF;
  background-color: #fb441f;
  border-color: #fb441f; }

input[type="submit"].btn-warning:focus, input[type="reset"].btn-warning:focus, input[type="button"].btn-warning:focus {
  color: #FFF;
  background-color: #fb441f;
  border-color: #fb441f; }
input[type="email"], input[type="number"], input[type="search"], input[type="text"], input[type="tel"], input[type="url"], input[type="password"] {
  height: 38px;
  padding: 6px 10px;
  background-color: #FFF;
  border: 1px solid #D1D1D1;
  box-shadow: none;
  box-sizing: border-box; }

textarea, select {
  height: 38px;
  padding: 6px 10px;
  background-color: #FFF;
  border: 1px solid #D1D1D1;
  box-shadow: none;
  box-sizing: border-box;
  font-family: Product Sans; }

input[type="email"], input[type="number"], input[type="search"], input[type="text"], input[type="tel"], input[type="url"], input[type="password"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin-bottom: 1rem; }

textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin-bottom: 1rem;
  min-height: 65px;
  padding-top: 6px;
  padding-bottom: 6px; }

input[type="email"]:focus, input[type="number"]:focus, input[type="search"]:focus, input[type="text"]:focus, input[type="tel"]:focus, input[type="url"]:focus, input[type="password"]:focus {
  outline: 0; }

textarea:focus, select:focus {
  outline: 0; }

label, legend {
  display: block;
  margin-bottom: .5rem;
  color: #91B9C5;
  font-family: Product Sans; }

fieldset {
  padding: 0;
  border-width: 0; }

input[type="checkbox"], input[type="radio"] {
  display: inline; }

label > .label-body {
  display: inline-block;
  margin-left: .5rem;
  font-weight: 400; }

ul {
  list-style: circle inside; }

ol {
  list-style: decimal inside;
  padding-left: 0;
  margin-top: 0; }

ul {
  padding-left: 0;
  margin-top: 0; }
  ul ul, ul ol {
    margin: 1.5rem 0 1.5rem 3rem;
    font-size: 90%; }

ol ol, ol ul {
  margin: 1.5rem 0 1.5rem 3rem;
  font-size: 90%; }

li {
  margin-bottom: 1rem; }

code {
  padding: .3rem .5rem;
  margin: 0 .2rem;
  font-size: 90%;
  white-space: nowrap;
  background: #404A54;
  color: #FFF;
  font-family: Product Sans; }

pre > code {
  text-align: initial;
  display: block;
  padding: 1rem 1.5rem;
  white-space: pre; }

th, td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #E1E1E1; }

th:first-child, td:first-child {
  padding-left: 0; }

th:last-child, td:last-child {
  padding-right: 0; }

input, textarea, select, fieldset {
  margin-bottom: 1.5rem; }

pre, blockquote, dl, figure, table, p, ul, ol, form {
  margin-bottom: 2.5rem; }

table {
  font-family: Roboto; }

input, textarea, select, fieldset {
  margin-bottom: 1.5rem; }

pre, blockquote, dl, figure, table, p, ul, ol, form {
  margin-bottom: 2.5rem; }

hr {
  margin-top: 3rem;
  margin-bottom: 3.5rem;
  border-width: 0;
  border-top: 1px solid #E9E9E9; }

.container:after, .row:after, .u-cf {
  content: "";
  display: table;
  clear: both; }

.label {
  display: inline-block;
  line-height: 1;
  white-space: nowrap;
  cursor: default;
  border-radius: 0;
  background: #404A54;
  color: #FFF;
  -o-transition: .5s;
  -ms-transition: .5s;
  -moz-transition: .5s;
  -webkit-transition: .5s;
  transition: .5s;
  padding: .5rem 1.3rem; }

.label.primary {
  background: #33C3F0; }

.label.warning {
  background: #FC6E51; }

.label.success {
  background: #48CFAD; }

.label.alert {
  background: #ED5565; }

.message {
  padding: 15px;
  text-align: center;
  background-color: #404A54;
  color: #FFF; }

.message.primary {
  color: #FFF;
  background-color: #33C3F0;
  border-color: #33C3F0; }

.message.success {
  color: #FFF;
  background-color: #48CFAD;
  border-color: #48CFAD; }

.message.warning {
  color: #FFF;
  background-color: #FC6E51;
  border-color: #FC6E51; }

.message.alert {
  color: #FFF;
  background-color: #ED5565;
  border-color: #ED5565; }

.hero.default {
  color: #FFF;
  background-color: #404A54;
  text-align: center;
  padding: 10rem 0;
  margin-bottom: 5rem; }
  .hero.default h1, .hero.default h2, .hero.default h3, .hero.default h4, .hero.default h5, .hero.default h6, .hero.default p {
    color: #FFF; }

.hero.primary {
  color: #FFF;
  background-color: #33C3F0;
  text-align: center;
  padding: 10rem 0;
  margin-bottom: 5rem; }

.hero.success {
  color: #FFF;
  background-color: #48CFAD;
  text-align: center;
  padding: 10rem 0;
  margin-bottom: 5rem; }

.hero.warning {
  color: #FFF;
  background-color: #FC6E51;
  text-align: center;
  padding: 10rem 0;
  margin-bottom: 5rem; }

.hero.alert {
  color: #FFF;
  background-color: #ED5565;
  text-align: center;
  padding: 10rem 0;
  margin-bottom: 5rem; }

.hero {
  position: relative;
  background-color: #FFF;
  text-align: center;
  color: #404A54;
  font-family: Roboto;
  padding: 10rem 0;
  margin-bottom: 5rem; }
  .hero h1, .hero h2, .hero h3, .hero h4, .hero h5, .hero h6, .hero p {
    line-height: 1.3;
    color: #404A54; }

@media only screen and (max-width: 767px) {
  .hero-primary {
    padding: 4rem 0; }
    .hero-primary h1 {
      font-size: 3rem; }
    .hero-primary p {
      font-size: 1rem; }
  .message {
    font-size: 1.3rem; } }

.modal {
  position: fixed;
  font-family: Product Sans;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99999;
  opacity: 0;
  background: rgba(0, 0, 0, 0.4);
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: none; }
  .modal:target {
    opacity: 1;
    pointer-events: auto; }
  .modal > div {
    position: relative;
    margin: 10% auto;
    padding: 20px 30px;
    background: #fff;
    min-width: 50%;
    max-width: 75%;
    width: 100%; }

.navbar {
  background-color: #404A54;
  font-family: Product Sans;
  position: fixed;
  width: 100%;
  z-index: 3; }
  .navbar ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden; }
  .navbar li a {
    display: block;
    padding: 16px 10px;
    text-decoration: none;
    color: #FFFFFF; }
    .navbar li a:hover {
      background-color: #2a3037; }
  .navbar .menu-btn:hover {
    background-color: #2a3037; }
  .navbar .logo {
    display: block;
    font-size: 1.5em;
    font-family: Product Sans;
    padding: 10px 20px;
    text-decoration: none;
    color: #FFFFFF; }
  .navbar .logo:hover {
    color: #2a3037; }
  .navbar .menu {
    right: 0px;
    top: 0px;
    clear: both;
    max-height: 0;
    transition: max-height 0.2s ease-in-out; }
    .navbar .menu li {
      margin-bottom: 0; }
  .navbar li.active {
    background-color: #2a3037; }
  .navbar .menu-icon {
    position: absolute;
    right: 0px;
    top: 0px;
    cursor: pointer;
    display: inline-block;
    padding: 28px 20px;
    user-select: none; }
    .navbar .menu-icon .navicon {
      background: #FFFFFF;
      display: block;
      height: 2px;
      position: relative;
      transition: background 0.2s ease-out;
      width: 18px; }
      .navbar .menu-icon .navicon:before, .navbar .menu-icon .navicon:after {
        background: #FFFFFF;
        content: "";
        display: block;
        height: 100%;
        position: absolute;
        transition: all 0.2s ease-out;
        width: 100%; }
      .navbar .menu-icon .navicon:before {
        top: 5px; }
      .navbar .menu-icon .navicon:after {
        top: -5px; }
  .navbar .menu-btn {
    display: none; }
    .navbar .menu-btn:checked ~ .menu {
      max-height: 240px; }
    .navbar .menu-btn:checked ~ .menu-icon .navicon {
      background: transparent; }
      .navbar .menu-btn:checked ~ .menu-icon .navicon:before {
        transform: rotate(-45deg); }
      .navbar .menu-btn:checked ~ .menu-icon .navicon:after {
        transform: rotate(45deg); }
    .navbar .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before, .navbar .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
      top: 0; }

@media (min-width: 48em) {
  .navbar li {
    float: left; }
  .navbar .menu {
    position: absolute;
    clear: none;
    max-height: none; }
  .navbar .menu-icon {
    display: none; } }
