table
  margin: 1rem 0
  font-family: $font
  min-width: 100%
  background-color: #FFF
  color: $main

.table-outter
  overflow-x: scroll
  border: 3px solid #f2f2f2

  th, td
    min-width: 200px
    border-bottom: 0
    padding: 12px 15px
    text-align: left
  th:first-child, td:first-child
    padding-left: 1rem
  th:last-child, td:last-child
    padding-right: 0
  table
    font-family: $font
  td
    min-width: 100%
    
@media (min-width: $mobile-breakpoint)
  .table td:before
    display: none
  .table
    th, td
      display: table-cell
      padding: .25em .5em
      padding-left: 10rem
    th:first-child, td:first-child
      padding-left: 1rem
    th:last-child, td:last-child
      padding-right: 1rem
  .table
    th, td
      padding: 1em !important
