// I wouldn't add your own custom colours in here because when a new version get's released, this file will be replaced.
$primary: #1b95e0
$success: #41b497
$warning: #FC6E51
$alert: #ed4254
$main: #444F5F
$accent: #d1d1d1
$primary_2: darken( $primary, 10% )
$success_2: darken( $success, 10% )
$warning_2: darken( $warning, 10% )
$alert_2: darken( $alert, 10% )
$main_2: darken( $main, 10% )
